.index-side
  .list-group
    %li.list-group-item.index DAW
    %a.list-group-item.list-group-item-action{:href => "#!"} Garage Band
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=1"} Studio One
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=2"} Logic Pro
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=3"} Ableton Live
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=3"} Cubase
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=5"} FL Studio
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=4"} Pro Tools
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=5"} Sonar
    %a.list-group-item.list-group-item-action{:href => "/posts/index_list?utf8=✓&tag_id=1"} その他
  .list-group
    %li.list-group-item.index VSTプラグイン
    %a.list-group-item.list-group-item-action{:href => "#!"} EQ
    %a.list-group-item.list-group-item-action{:href => "#!"} コンプレッサー/リミター/マキシマイザー
    %a.list-group-item.list-group-item-action{:href => "#!"} サチュレーション/ディストーション
    %a.list-group-item.list-group-item-action{:href => "#!"} リバーブ
    %a.list-group-item.list-group-item-action{:href => "#!"} ディレイ
    %a.list-group-item.list-group-item-action{:href => "#!"} サイドチェーン
    %a.list-group-item.list-group-item-action{:href => "#!"} ステレオイメージ
    %a.list-group-item.list-group-item-action{:href => "#!"} アナライザー
    %a.list-group-item.list-group-item-action{:href => "#!"} ピッチ修正
    %a.list-group-item.list-group-item-action{:href => "#!"} トランジェント補正
    %a.list-group-item.list-group-item-action{:href => "#!"} モジュレーション
    %a.list-group-item.list-group-item-action{:href => "#!"} その他
  .list-group
    %li.list-group-item.index 周辺機器
    %a.list-group-item.list-group-item-action{:href => "#!"} audio technica
    %a.list-group-item.list-group-item-action{:href => "#!"} BEHRINGER
    %a.list-group-item.list-group-item-action{:href => "#!"} CANARE
    %a.list-group-item.list-group-item-action{:href => "#!"} CRASIC PRO
    %a.list-group-item.list-group-item-action{:href => "#!"} KB COVERS
    %a.list-group-item.list-group-item-action{:href => "#!"} MIDDLE ATLANTIC
    %a.list-group-item.list-group-item-action{:href => "#!"} PRESONUS
    %a.list-group-item.list-group-item-action{:href => "#!"} ROLAND
    %a.list-group-item.list-group-item-action{:href => "#!"} SENNHEISER
    %a.list-group-item.list-group-item-action{:href => "#!"} SHURE
    %a.list-group-item.list-group-item-action{:href => "#!"} SONY
    %a.list-group-item.list-group-item-action{:href => "#!"} YAMAHA
    %a.list-group-item.list-group-item-action{:href => "#!"} その他
  .list-group
    %li.list-group-item.index ミックス
    %a.list-group-item.list-group-item-action{:href => "#!"} ロック
    %a.list-group-item.list-group-item-action{:href => "#!"} ハードコア
    %a.list-group-item.list-group-item-action{:href => "#!"} ポップス
    %a.list-group-item.list-group-item-action{:href => "#!"} メタルコア
    %a.list-group-item.list-group-item-action{:href => "#!"} ロック
    %a.list-group-item.list-group-item-action{:href => "#!"} エレクトリック
    %a.list-group-item.list-group-item-action{:href => "#!"} ポップス
    %a.list-group-item.list-group-item-action{:href => "#!"} メタルコア
