.side-bar
  %nav.mypage-nav
    %ul.mypage-nav-list
      %h3.list-head 質問履歴
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          お気に入り一覧
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          評価一覧
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          投稿した質問
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          回答した質問
          =fa_icon "chevron-right",class: "icon"

      %h3.list-head 設定
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          プロフィール編集
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          メール/パスワードの変更
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          本人情報
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          ログアウト
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          お知らせ
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          ご利用ガイド
          =fa_icon "chevron-right",class: "icon"
      %li.mypage-nav-list__li 
        =link_to mypages_path,class: "list-group-item list-group-item-action" do
          お問い合わせ
          =fa_icon "chevron-right",class: "icon"