= render 'shared/header'
.mypage
  = render  'shared/side-bar'
  .mypage_box
    .mypage_box_left
      .mypage_box_left_top
        マイページ
      .mypage_box_left_icon
      .mypage_box_left_name
        #{current_user.name}さん
    .mypage_box_center
      閲覧ありがとうございます！DTM歴は5年になり、普段はバンドをしたりボカロの楽曲を作っています。主に使うDAWはFL studioです！
