<div class="container">
  <div class="col-md-12 margin-top-5per post-block">
    <h1 class="text-center"> 質問の編集 </h1>
    <%= image_tag 'DTM-pic.jpeg', class: 'post-image padding-top-15'%>
    <div class="padding-bottom-15">
    <%= render  'form', post: @post  %>
    </div>
  </div>
<div>