<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <%= link_to post do%>
        <div class="col-md-11 margin-top-5per post-block">
          <p class="title"><%= post.title %></p>
          <%= post.created_at.strftime("%Y年%-m月%-d日")%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to '新規作成', new_post_path, class: 'margin-top-5per btn btn-primary' %>  
  </div>
<div>