<div class="container">
  <div class="col-md-12 margin-top-5per post-block">
    <h1 class="text-center"> 質問の新規作成 </h1>
    <div class="padding-bottom-15">
    <%= render  'form', post: @post  %>
    </div>
  </div>
<div>