<div class="container">
  <div class="col-md-12 margin-top-5per post-block">
      <%= image_tag 'DTM-pic.jpeg', class: 'post-image'%>
        <h1><%= @post.title %></h1>
        <p class="title"><%= @post.title %></p>
        <p class="text-right">
          <%= @post.created_at.strftime("%Y年%-m月%-d日")%>
        </p>
  </div>
<div>