@import 'variables';

.posts_table {
  tr:hover {
      cursor: pointer;
  }
}

.margin-top-5per{
  margin-top: 5%;
}

.title{
  font-size: 30px;
  background-color: $base-green;
  color: $base-white;;
  border-radius: 5px;
  padding: 2px;
}

.post-block{
  background-color: white;
  border-radius: 25px;
  margin-left: 30px;
  padding: 20px;
}

a{
  color: $link;
}

.padding-top-15{
  padding-top: 15px;
}

.post-image{
  width: 100%;
  height: 350px;
  object-fit: cover; 
}
.jumbotron {
  width: 55%;
  margin-left: 512px;
  background-color: $base-green;
  margin-left: 512px;
  color: $base-white;
  .anm_mod {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease;
    &.left {
      transform: translate3d(-100%, 0, 0);
    }
    &.right {
    transform: translate3d(100%, 0, 0);
    }
    &.delay {
    transition: all 2s ease;
    }
    &.fast {
    transition: all 0.8 ease;
    }
  }
}

.index-side {
  width: 300px;
  float: left;
  margin-left: 50px;
}

.list-group-item.index {
  background-color: $base-green;
  color: $base-white;
}

.btn.btn-primary.btn-lg {
  color:  $base-green;
  background-color: $base-white;
}

.container-right {
  background-color: $base-green;
  width: 300px;
  margin-left: 512px;
  width: 55%;
  padding: 20px;
  border-radius: 10px;
}

.commenter {
  font-size: 20px;
}

.comment {
  margin: 50px;
  padding: 30px;
  border: 5px solid #e8e8e8;
}

.detail {
  padding: 10px;
  font-size: 18px;
}

.comment-delete {
  display: inline;
  margin-left: 870px;
}

.question-main {
  padding: 30px;
}

.edit-btn {
  padding-top: 10px;
}


.container-list {
  background-color: $base-green;
  width: 80%;
  padding: 50px;
  border-radius: 10px;
  margin-left: 140px;
}

.btn.btn-primary.btn-lg {
  display: grid;
  margin-top: 30px;
}

.container-list {
  background-color: $base-white;
}

.list-head {
  background-color: $base-green;
}

.posts__searchForm {
  display: inline-block;
  float: right;
  margin-bottom: 10px;
}

.posts__select {
  display: inline-block;
  width: auto;
}

.btn.btn-outline-info {
  color: #337ab7;
  border: 1px solid #337ab7;
  display: block;
}

.tag-block {
  display: flex;
}

.form-check {
  margin-right: 20px;
}

#img_prev{
  width: 26%;
  margin-left: 23px;
}

#im {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

#mv {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}


