.margin-top-5per{
  margin-top: 5%;
}

.title{
  font-size:17px;
}

.post-block{
  background-color: #fff;
  margin: 47px;
  padding: 20px;
}

a{
  color: #666;
}

.padding-top-15{
  padding-top: 15px;
}

.post-image{
  width: 100%;
  height: 350px;
  object-fit: cover; 
}