%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} MusiQ

    #navigation.collapse.navbar-collapse
      %p.navbar-text.navbar-right
        - if user_signed_in?
          = link_to 'マイページ', mypages_path
          &nbsp;
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          = link_to '新規登録', new_user_registration_path
          &nbsp;
          = link_to 'ログイン', new_user_session_path 